/* google font */
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.finger-paint-regular {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(52, 92, 211);
}
.flex-item{
    --tamanio:90px;
    width: var(--tamanio);
    height: var(--tamanio);
}
.flex-content{
    --tamanio: 500px;
    width: var(--tamanio);
    height: var(--tamanio);
}